/*--------color : #FEA47F alt rgb(252, 157, 119)--------*/
/*---------------general section----*/
*
{
    margin: 0;
    padding : 0;
}
html{
    font-size : 20px;
    font-weight : 300;
    color : #555;
    background-color: #fff;
    font-family: 'Lato' ,'calibri' ,'arial';
    text-rendering: optimizeLegibility;
}
.row
{
    width : 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}

.box{
padding : 0;
}
.clearfix
{ zoom :1 }
.cleafix{
    content :".";
    clear :both;
    display :block;
    height :0;
    visibility: hidden ;
}
/*-----------header---------*/
header{
    background-image:linear-gradient(rgba(19, 18, 18, 0.651),rgba(19, 18, 18, 0.651)) ,url(img/background1.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
}
.hero-text-box
{
    position: absolute;
    width : 1340px;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}
h1,h2,h3{
    font-weight : 300;
    text-transform: uppercase;
}
h1
{
    margin-top : 0;
    margin-bottom : 20px;
    color : #fff;
    font-size: 240%;
    letter-spacing: 2px;
    word-spacing: 4px;
}
h2
{
    
    font-size   : 160%;
    word-spacing : 2px;
    letter-spacing : 1px;
    margin-bottom: 30px;
    text-align: center;
}
h2:after{
    display : block;
    height: 3px;
    background-color: #FEA47F;
    content : " ";
    width : 100px;
    margin : 30px auto;
    margin-top : 20px;
}
h3
{
    font-size : 110%;
   margin-bottom : 15px;
   
}

/*---------button--------*/

.btn:link,
.btn:visited
{
    display : inline-block;
    margin-top : 25px; 
    padding : 10px 30px;
    font-size : 120%;
    font-weight:300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s ,color 0.2s , border 0.2s;
}
.btn:hover,
.btn:active{
    background-color: rgb(252, 137, 92);
    
}
.btn-full:link,
.btn-full:visited
{
    margin-right : 20px;
    color : #fff;
    background-color : #FEA47F;
    border : 1px solid #FEA47F;
}
.btn-full:hover,
.btn-full:active{
    background-color : rgb(252, 137, 92);;
    border : 1px solid rgb(252, 137, 92);
}
.btn-ghost:link,
.btn-ghost:visited
{
    color : #FEA47F;
    border : 1px solid #FEA47F;
}
.btn-ghost:hover,
.btn-ghost:active
{
    border : 1px solid rgb(252, 137, 92);
    color : #fff;
}

/*----------navigation bar---------*/
.navigation
{
    display : block;
    float : right;
    list-style: none;
    margin-top : 40px;
}
.navigation li{
    float : left;
    margin-right : 30px;
}
.navigation li a:link,
.navigation li a:visited{
    text-decoration: none;
    font-size: 100%;
    color : #fff;
    text-transform : uppercase ;
    border-bottom : 2px solid transparent;
    transition : border-bottom 0.2s;
}
.navigation li a:hover,
.navigation li a:active
{
    border-bottom: 2px solid #FEA47F;
}
    
/*-----------para--------*/
.long_copy{
    width : 70%;
    margin-left : 15%;
    font-weight : 300;
    margin-top : 20px;
}
.long-copy
{
    font-weight : 350;
    width : 70%;
    margin-left: 0;
    padding : 5px 5px;
    
}
/*----------icons------*/
.big-icon
{
    font-size : 300%;
    display: block;
    color : #FEA47F;
    margin-bottom : 30px;
    margin : 20px 0;
    
}
.icon-small
{
    display : inline-block;
    width : 30px;
    color : #FEA47F;
    margin-right : 7px;
    font-size : 120%;
    text-align : centre;    
    line-height : 120%;
    vertical-align: middle;
    margin-top : -5px;
}
/*-----------favourite-meal-section-----------*/
.section-meal
{
    margin :0;

}
.meal-showcase
{
    list-style-type: none;
    width : 100%;
}
.meal-showcase li{
    float: left;
    display : block;
    width : 25%;
    
}
.meal-photo
{
    
    width:100%;
    margin:0;
    overflow: hidden;
    background-color: #000;
    

}
.meal-photo img{
    width :100%;
    height:auto;
    transition : transform 0.5s , opacity 0.5s;
    transform:scale(1.15);
    opacity: 0.53;

    
}
.meal-photo img:hover{
    opacity:1;
    transform:scale(1.03);
}
/*--------------how it looks---------------*/
.app-logo
{
    width : 250px;
    height : 500px;
    float:right;
    margin-right : 100px;
}
.steps-box :last-child
{
    padding-left : 5%;
}

.work-steps div{
    display:inline-block;
    color : #FEA47F;
    border : 2px solid #FEA47F;
    text-align: center;
    float : left;
    padding: 5px;
    margin-right : 25px;
    border-radius: 50%;
    width : 20px;
}
.work-steps p{
    font-size : 110%;
    font-weight : 400;
}
.btnapp img{
    height:45px;
    width : auto;
    margin-right : 10px;
    margin-top : 60px;
}
.btnapp{
    border : none;
}
.section-step
{
    background-color: rgba(247, 230, 230, 0.993);
}

/*------------------cities-section---------*/

.cities-section
{
   background-color  :#fff ;

}
.box{
    
}
.box img{
width : 100%;
height : 200px;
margin-bottom: 20px;
}
/*-----------links------------*/
a:link,
a:visited{
    color : #FEA47F;
    text-decoration : none;
    padding-bottom: 1px;
    transiton : color 0.3s, border-bottom 0.3s;
    border-bottom : 1px solid #FEA47F;
}
a:hover,
a:active{
    color : #555;
border-bottom : 1px solid transparent;
}

/*-----------section-trstimonials------*/

.section-testimonial
{
    background-image:linear-gradient(rgba(58, 57, 57, 0.651),rgba(58, 57, 57, 0.651)) , url(img/background.jpg);
    background-attachment: fixed;
    background-size : cover;
    background-position: center;
    color : #fff;
    
}

blockquote{
    padding : 2%;
    font-size : 90%;
    font-weight: 200;
    font-style: italic;
    position: relative;
    margin-top : 40px;
    margin-left: 30px;
}
blockquote:before{
    position : absolute;
    display : block;
    content : "\201c";
    font-size: 400%;
    top : -10%;
    left :-5%
}

cite
{
    font-size : 90%;
    display: block;
    margin-top : 20px;
}
cite img{
    height : 45px;
    border-radius : 50%;
    margin-right : 10px;
    vertical-align: middle;
}

/*-------------Signup-section-----------------*/
.signup-section
{
    background-color:rgba(247, 230, 230, 0.993) ;
}
.plan-box
{
    background-color : #fff;
    width : 90%;
    border-radius: 5px;
    margin-left : 5%;

}
.plan-box div{
    padding : 15px;
    border-bottom: 1px solid #FEA47F;
}
.plan-box  :first-child{
    background-color : rgb(253, 241, 241);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.plan-box :last-child{
    
    border : 0;
    width : auto;
    border-radius: 40%;
   
  
}
.plan-price
{
    font-size : 200%;
    font-weight: 10;
    color : #FEA47F;
    font-weight : 100;
   
}
.plan-price span
{
    font-size : 60%;
    font-weight : 3;
}
.plan-box ul
{
    list-style-type: none;
}
.plan-box ul li{
padding : 5px 0;
}
.plan-price-meal
{
    font-size : 80%;

}
.btn btn-ghost :hover{
    background-color : #fff;
    color : #FEA47F;

}

/*----------------footer-section-------------*/
footer{
    background-color : #333;
    padding : 50px;
}

.footer-nav
{
    list-style : none;
    float : left;
}
.footer-nav li,
.social-links li{
    display : inline-block;
    margin-right : 20px;
    
}
.social-links
{
    list-style : none;
    float : right;
}
.footer-nav li  :last-child,
.social-links li :last-child
{
    margin-right: 0;
}

.footer-nav li a :link,
.footer-nav li a :visited,
.social-links li a :active,
.social-links li a  :visited{
    text-decoration: none;
    border : 0;
    color : #888;
    transition: color 0.2s;
    
}
.footer-nav li a :hover,
.footer-nav li a :active{
    color : #ddd;
}
.ion-social-facebook,
.ion-socail-twitter,
.ion-social-googleplus
.ion-social-instagram
{
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color : #3b5998;
}
.ion-social-twitter:hover{
    color : #2e56ac;
}
.ion-social-googleplus:hover{
    color : #f81f1f;
}
.ion-social-instagram:hover{
    color : #e23dda;
}
footer p {
    color : #888;
    text-align : center;
    margin-top : 30px;
}